p{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    background-color: rgb(172, 209, 221);
}
.container1{
    width: 400px;
    height: 140px;
    margin: 0 auto;
}
#lastYear,
#lastMonth,
#nextYear,
#nextMonth{
    width: 80px;
    background-color: rgb(172, 209, 221);
    margin-top: 5px;
    cursor: pointer;
}
.title{
    width: 100px;
    height: 30px;
    border: 1px solid silver;
    margin: 0 auto ;
    text-align: center;
    line-height: 30px;
}
.calender {
    width: 400px;
    border: 1px solid silver;
    margin: 10px auto;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}
.calender span{
    display: inline-block;
    border: 1px solid rgb(172, 209, 221);
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}