.header{
	transition: all 1s .5s;
}
.header_animate_init{
	opacity: 0;
	transform: translate(0, -100%);
}
.header_animate_done{
	opacity: .8;
	transform: translate(0, 0);
}

.header__logo_status{
	color: black;
}
.header_status_change{
	background-color: #fff;
	opacity: .8;
	color: black;
}
.header__nav-item_status_active{
	color: red;
}

.sc1__content1, .sc1__content2{
	transition: all 1s .5s;
}
.sc1__content1_animate_init, .sc1__content2_animate_init{
	opacity: 0;
	transform: translate(0, 100%);
}
.sc1__content1_animate_done, .sc1__content2_animate_done{
	opacity: 1;
	transform: translate(0, 0);
}

.sc2__content1, .sc2__content2, .sc2__pic2{
	transition: all 1s;
}
.sc2__content1_animate_init, .sc2__content2_animate_init, .sc2__pic2_animate_init{
	opacity: 0;
	transform: translate(0, 100%);
}
.sc2__content1_animate_done, .sc2__content2_animate_done, .sc2__pic2_animate_done{
	opacity: 1;
	transform: translate(0, 0);
}

.sc3__content1, .sc3__content2, .sc3__pic1{
	transition: all 1s;
}
.s3__content3{
	visibility: hidden;
}
/*单独创造sc3__content3动画*/
@keyframes sc3__content3_animate {
	0%{
		transform: translate(0, 50%);
		visibility: visible;
	}
	25%{
		transform: translate(0, -20%);
		opacity: 1;
	}
	50%{
		transform: translate(0, 20%);
	}
	75%{
		transform: translate(0, -10%);
	}
	100%{
		transform: translate(0, 0);
		opacity: 1;
	}
}

.sc__content3_special_animate{
	animation-name: sc3__content3_animate;
	animation-duration: 3s;
}

.sc3__content1_animate_init, .sc3__content2_animate_init{
	opacity: 0;
	transform: translate(0, 100%);
}
.sc3__content1_animate_done, .sc3__content2_animate_done{
	opacity: 1;
	transform: translate(0, 0);
}
.sc3__pic1_animate_init{
	opacity: 0;
	transform: scale(0, .5);
}
.sc3__pic1_animate_done{
	opacity: 1;
	transform: scale(1, 1);
}

.sc4__content1, .sc4__content2, .sc4__content3{
	transition: all 1s;
}
.sc4__content1_animate_init, .sc4__content2_animate_init, .sc4__content3_animate_init{
	opacity: 0;
	transform: scale(0, .5);
}
.sc4__content1_animate_done, .sc4__content2_animate_done, .sc4__content3_animate_done{
	opacity: 1;
	transform: scale(1, 1);
}


.sc5__pic1, .sc5__content1, .sc5__content2{
	transition: all 1s;
}
.sc5__pic1_animate_init{
	opacity: 0;
	transform: scale(0, .5);
}
.sc5__pic1_animate_done{
	opacity: 1;
	transform: scale(1, 1);
}
.sc5__content1_animate_init, .sc5__content2_animate_init{
	opacity: 0;
	transform: translate(0, 100%);
}
.sc5__content1_animate_done, .sc5__content2_animate_done{
	opacity: 1;
	transform: translate(0, 0);
}

.outline{
	transition: all 1s;
	opacity: 0;
	transform: translate(100%, 0);
}
.outline_status_in{
	opacity: 1;
	transform: translate(0, 0);
}
.outline__item-status_active{
	color: red;
}